/* custom.css */

/* Style for hyperlinks */
a {
  color: #6F3092; /* Purple color */
  text-decoration: underline; /* Underline the hyperlink */
}

h2 {
  color: #6F3092
}

/* Custom progress bar color */
.progress-bar {
  background-color: #6F3092; /* Change to your desired color */
}

/* Optional: Customize progress bar background */
.progress {
  background-color: #e0e0e0; /* Light grey background for the progress bar */
}
